
.marks .land{
  fill: #d8d8d8;
}
.marks .sphere{
  fill: #ececec;
}

.marks .interiors{
  fill: none;
  stroke: #c3c3c3;
}
.marks .graticules, .tick line{
  fill: none;
  stroke: #dadada;
}
circle {
  fill: #127B80;
  opacity: 0.3;
}

.tick text {
  fill: #635F5D;
  font-size: 0.5em;
}
.mark {
  fill: #137B80;
}
.axis-label {
  font-size: 0.5em;
  fill: #635F5D;
}